#main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #e5750e;
    font-size: 16px;
    font-weight: bold;
}

#main-nav ul.nav li.nav-item a.nav-link {
    color: #e2e8f0;
    transition: background-color 0.5s;
    border-radius: 5px;
    margin: 0 10px;
    display: flex;
}

#main-nav ul.nav li.nav-item a.nav-link:hover,
#main-nav ul.nav li.nav-item a.nav-link:active {
    background-color: #4a5568;
}

#nav {
    align-items: center;
    background-color: #e5750e;
    font-size: 16px;
    font-weight: bold;
}

#nav ul.nav li.nav-item a.nav-link {
    color: #e2e8f0;
    transition: background-color 0.5s;
    border-radius: 5px;
    height: 60px;
    display: flex;

}

#nav ul.nav li.nav-item a.nav-link:hover,
#nav ul.nav li.nav-item a.nav-link:active {
    background-color: #4a5568;
}

@media only screen and (max-width: 320px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    #logo_a span{
        color: black;
    }

    .head{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar {
        background-color: #e5750e;
    }

    .head_lg{
        margin-right: 100px;
    }

    .head_right {
        background-color: #e5750e;
        width: 100%;
    }

    .head_left {

    }


    footer {
        display: none;
    }
}



